/* Variable */
/* Font */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.eot");
  src: url("../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Semi";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.eot");
  src: url("../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/SVN-GothamThin.eot");
  src: url("../fonts/SVN-GothamThin.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamThin.woff2") format("woff2"), url("../fonts/SVN-GothamThin.woff") format("woff"), url("../fonts/SVN-GothamThin.ttf") format("truetype"), url("../fonts/SVN-GothamThin.svg#SVN-GothamThin") format("svg");
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SVN-Gotham.eot");
  src: url("../fonts/SVN-Gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gotham.woff2") format("woff2"), url("../fonts/SVN-Gotham.woff") format("woff"), url("../fonts/SVN-Gotham.ttf") format("truetype"), url("../fonts/SVN-Gotham.svg#SVN-Gotham") format("svg");
}
@font-face {
  font-family: "SVN-Gotham";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/SVN-GothamBold.eot");
  src: url("../fonts/SVN-GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBold.woff2") format("woff2"), url("../fonts/SVN-GothamBold.woff") format("woff"), url("../fonts/SVN-GothamBold.ttf") format("truetype"), url("../fonts/SVN-GothamBold.svg#SVN-GothamBold") format("svg");
}
@font-face {
  font-family: "SVN-Gotham Book";
  src: url("../fonts/SVN-GothamBook.eot");
  src: url("../fonts/SVN-GothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBook.woff2") format("woff2"), url("../fonts/SVN-GothamBook.woff") format("woff"), url("../fonts/SVN-GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamBlackItalic.eot");
  src: url("../fonts/SVN-GothamBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBlackItalic.woff2") format("woff2"), url("../fonts/SVN-GothamBlackItalic.woff") format("woff"), url("../fonts/SVN-GothamBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Book";
  src: url("../fonts/SVN-GothamBookItalic.eot");
  src: url("../fonts/SVN-GothamBookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBookItalic.woff2") format("woff2"), url("../fonts/SVN-GothamBookItalic.woff") format("woff"), url("../fonts/SVN-GothamBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamBlack.eot");
  src: url("../fonts/SVN-GothamBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBlack.woff2") format("woff2"), url("../fonts/SVN-GothamBlack.woff") format("woff"), url("../fonts/SVN-GothamBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamBold.eot");
  src: url("../fonts/SVN-GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamBold.woff2") format("woff2"), url("../fonts/SVN-GothamBold.woff") format("woff"), url("../fonts/SVN-GothamBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-Gotham.eot");
  src: url("../fonts/SVN-Gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gotham.woff2") format("woff2"), url("../fonts/SVN-Gotham.woff") format("woff"), url("../fonts/SVN-Gotham.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamLightItalic.eot");
  src: url("../fonts/SVN-GothamLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamLightItalic.woff") format("woff"), url("../fonts/SVN-GothamLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamLight.eot");
  src: url("../fonts/SVN-GothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamLight.woff2") format("woff2"), url("../fonts/SVN-GothamLight.woff") format("woff"), url("../fonts/SVN-GothamLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("../fonts/SVN-GothamThin.eot");
  src: url("../fonts/SVN-GothamThin.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamThin.woff2") format("woff2"), url("../fonts/SVN-GothamThin.woff") format("woff"), url("../fonts/SVN-GothamThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/SVN-GilroyXLight.eot");
  src: url("../fonts/SVN-GilroyXLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyXLight.woff2") format("woff2"), url("../fonts/SVN-GilroyXLight.woff") format("woff"), url("../fonts/SVN-GilroyXLight.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/SVN-GilroyXLightItalic.eot");
  src: url("../fonts/SVN-GilroyXLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyXLightItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyXLightItalic.woff") format("woff"), url("../fonts/SVN-GilroyXLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBlack.eot");
  src: url("../fonts/SVN-GilroyBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyBlack.woff2") format("woff2"), url("../fonts/SVN-GilroyBlack.woff") format("woff"), url("../fonts/SVN-GilroyBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBoldItalic.eot");
  src: url("../fonts/SVN-GilroyBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyBoldItalic.woff") format("woff"), url("../fonts/SVN-GilroyBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBlackItalic.eot");
  src: url("../fonts/SVN-GilroyBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyBlackItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyBlackItalic.woff") format("woff"), url("../fonts/SVN-GilroyBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBold.eot");
  src: url("../fonts/SVN-GilroyBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyBold.woff2") format("woff2"), url("../fonts/SVN-GilroyBold.woff") format("woff"), url("../fonts/SVN-GilroyBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyMediumItalic.eot");
  src: url("../fonts/SVN-GilroyMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyMediumItalic.woff") format("woff"), url("../fonts/SVN-GilroyMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-Gilroy.eot");
  src: url("../fonts/SVN-Gilroy.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Gilroy.woff2") format("woff2"), url("../fonts/SVN-Gilroy.woff") format("woff"), url("../fonts/SVN-Gilroy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyHeavy.eot");
  src: url("../fonts/SVN-GilroyHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyHeavy.woff2") format("woff2"), url("../fonts/SVN-GilroyHeavy.woff") format("woff"), url("../fonts/SVN-GilroyHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyHeavyItalic.eot");
  src: url("../fonts/SVN-GilroyHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyHeavyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyHeavyItalic.woff") format("woff"), url("../fonts/SVN-GilroyHeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyMedium.eot");
  src: url("../fonts/SVN-GilroyMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyMedium.woff2") format("woff2"), url("../fonts/SVN-GilroyMedium.woff") format("woff"), url("../fonts/SVN-GilroyMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLight.eot");
  src: url("../fonts/SVN-GilroyLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyLight.woff2") format("woff2"), url("../fonts/SVN-GilroyLight.woff") format("woff"), url("../fonts/SVN-GilroyLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyItalic.eot");
  src: url("../fonts/SVN-GilroyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyItalic.woff") format("woff"), url("../fonts/SVN-GilroyItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyThinItalic.eot");
  src: url("../fonts/SVN-GilroyThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyThinItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyThinItalic.woff") format("woff"), url("../fonts/SVN-GilroyThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyThin.eot");
  src: url("../fonts/SVN-GilroyThin.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyThin.woff2") format("woff2"), url("../fonts/SVN-GilroyThin.woff") format("woff"), url("../fonts/SVN-GilroyThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroySemiBold.eot");
  src: url("../fonts/SVN-GilroySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroySemiBold.woff2") format("woff2"), url("../fonts/SVN-GilroySemiBold.woff") format("woff"), url("../fonts/SVN-GilroySemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroySemiBoldItalic.eot");
  src: url("../fonts/SVN-GilroySemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroySemiBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroySemiBoldItalic.woff") format("woff"), url("../fonts/SVN-GilroySemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLightItalic.eot");
  src: url("../fonts/SVN-GilroyLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyLightItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyLightItalic.woff") format("woff"), url("../fonts/SVN-GilroyLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/SVN-GilroyXBold.eot");
  src: url("../fonts/SVN-GilroyXBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyXBold.woff2") format("woff2"), url("../fonts/SVN-GilroyXBold.woff") format("woff"), url("../fonts/SVN-GilroyXBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/SVN-GilroyXBoldItalic.eot");
  src: url("../fonts/SVN-GilroyXBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GilroyXBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyXBoldItalic.woff") format("woff"), url("../fonts/SVN-GilroyXBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.eot");
  src: url("../fonts/Quicksand-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff"), url("../fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.eot");
  src: url("../fonts/Quicksand-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.eot");
  src: url("../fonts/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.eot");
  src: url("../fonts/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.eot");
  src: url("../fonts/Quicksand-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../fonts/Quicksand-SemiBold.woff") format("woff"), url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




/* BACK TO TOP
-----------------------------*/
#back-top {
  background: #2b2b2b;
  border: 2px solid #ddd;
  border-radius: 100%;
  bottom: 0;
  cursor: pointer;
  height: 50px;
  line-height: 45px;
  opacity: 0;
  position: fixed;
  right: 15px;
  text-align: center;
  transition: 0.5s ease;
  visibility: hidden;
  width: 50px;
  z-index: 6999;
}
#back-top.show {
  bottom: 10%;
  opacity: 1;
  visibility: visible;
}
#back-top:hover {
  background-color: #024259;
  border-color: #FFFFFF;
}
#back-top i {
  color: #fff;
  font-size: 20px;
}
